<footer class="footer-custom">

    <div class="container">

        <div class="row gy-5">

            <div class="col-lg-4">

                <img src="/img/logo.png" class="logo-footer">

                <p class="mt-4 footer-text">
                    Plataforma de soluções financeiras para Igrejas, OSCs,
                    Pequenos Negócios e Empreendedores.
                </p>

            </div>

            <div class="col-lg-3">

                <h5 class="footer-title">Navegação</h5>

                <ul class="footer-links">

                    <li><a href="#para-quem">Para Quem</a></li>

                    <li><a href="#o-que-faz">Soluções</a></li>

                    <li><a href="#seguranca">Segurança</a></li>

                    <li><a href="#como-funciona">Como Funciona</a></li>

                    <li><a href="#contato">Contato</a></li>

                </ul>

            </div>

            <div class="col-lg-3">

                <h5 class="footer-title">Contato</h5>

                <p class="footer-text">
                    contato@shalomfinance.com.br
                </p>

            </div>

            <div class="col-lg-2">

                <h5 class="footer-title">Institucional</h5>

                <ul class="footer-links">

                    <li><a href="../pages/compliance.html">Compliance</a></li>

                    <li><a href="../pages/pld-ft.html">PLD-FT</a></li>

                    <li><a href="../pages/lgpd.html">LGPD</a></li>

                    <li><a href="../pages/politica-privacidade.html">Privacidade</a></li>

                    <li><a href="../pages/termos-de-uso.html">Termos de Uso</a></li>
                    <li><a href="../pages/seguranca-informacao.html">Segurança da Informação</a></li>


                </ul>

            </div>

        </div>

        <hr class="footer-divider">

        <div class="text-center footer-bottom">



            <br>

            <small>
                A Shalom não é banco. Atua por meio de parceiros regulados.<br>
            </small>
            <small>
                A Shalom Finance é uma empresa de tecnologia especializada em soluções financeiras, meios de pagamento e
                serviços digitais, atuando por meio de parcerias com instituições de pagamento e instituições
                financeiras autorizadas pelo Banco Central do Brasil, quando aplicável, nos termos da regulamentação
                vigente.<br>

                Os serviços financeiros disponibilizados pela Shalom Finance podem ser prestados por parceiros regulados
                responsáveis pela liquidação, custódia, processamento e emissão dos produtos financeiros, conforme a
                legislação aplicável.

                <br>Endereço: Av. Paulista, 302 Sala 50 – Bela Vista – São Paulo – SP – Brasil

                Shalom Finance Ltda. – CNPJ 21.489.691/0001-09
            </small>
            <div>© 2026 <strong>Shalom Finance</strong> — Todos os direitos reservados.</div>
        </div>

    </div>

</footer>