<nav class="navbar navbar-expand-lg navbar-dark fixed-top">

<div class="container">

<a class="navbar-brand d-flex align-items-center" href="#top">
<img src="img/logo.png" class="logo-navbar">
</a>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="menu">

<ul class="navbar-nav ms-auto">

<li class="nav-item"><a class="nav-link" href="#para-quem">Para Quem</a></li>

<li class="nav-item"><a class="nav-link" href="#o-que-faz">Soluções</a></li>

<li class="nav-item"><a class="nav-link" href="#seguranca">Segurança</a></li>

<li class="nav-item"><a class="nav-link" href="#como-funciona">Como Funciona</a></li>

<li class="nav-item"><a class="nav-link" href="#contato">Contato</a></li>

</ul>

</div>

</div>

</nav>